*/__pycache__/*
backend/foodbook/foodbook_api/__pycache__/__init__.cpython-37.pyc
backend/foodbook/foodbook_api/__pycache__/admin.cpython-37.pyc
backend/foodbook/foodbook_api/__pycache__/apps.cpython-37.pyc
backend/foodbook/foodbook_api/__pycache__/models.cpython-37.pyc
backend/foodbook/foodbook_api/__pycache__/urls.cpython-37.pyc
backend/foodbook/foodbook_api/__pycache__/views.cpython-37.pyc
backend/foodbook/foodbook/__pycache__/__init__.cpython-37.pyc
backend/foodbook/foodbook/__pycache__/settings.cpython-37.pyc
backend/foodbook/foodbook/__pycache__/urls.cpython-37.pyc
backend/foodbook/foodbook_api/migrations/__pycache__/__init__.cpython-37.pyc
backend/foodbook/foodbook_api/migrations/__pycache__/0001_initial.cpython-37.pyc
backend/foodbook/db.sqlite3
frontend/foodbook/.env
