coverage==4.5.4
Django==2.2.4
django-extensions==1.6.7
django-location-field==2.1.0
django-mysql==3.2.0
Flask==1.0.2
future==0.17.1
imageio==2.5.0
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
Pint==0.9
pkginfo==1.5.0.1
plotly==3.8.1
pluggy==0.9.0
ply==3.11
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.1
ptyprocess==0.6.0
py==1.8.0
pybeautifier==0.1.1
PyCifRW==4.4.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
PyDispatcher==2.0.5
pyflakes==2.1.1
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.6
pymatgen==2019.4.11
pymongo==3.8.0
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
PySocks==1.6.8
pyspglib==1.8.3.1
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-daemon==2.2.3
python-dateutil==2.8.0
python-memcached==1.59
pytz==2018.9
PyWavelets==1.0.2
PyYAML==5.1
pyzmq==18.0.0
